
footer{
    background-color: $bg-footer;
    color: white;
    justify-content: center;
    .end-menu{
       width: 1450px;
       margin: 0 20px;
       justify-content: space-between;
       h3{
          margin: 30px 0 15px 5px;
       }
    }
 }

 .info-clienti{
    margin: 0 8px;
    text-decoration: none;
    &:hover{
       text-decoration: underline;
    }
 }

 h4{
    text-align: center;
    margin: 30px 0 0 8px;
 }

 .lista-social{
    list-style: none;
    flex-direction: row;
    .fa-brands{
       font-size: 26px;
       margin: 15px 8px;
    }
 }
